.service{
    border: 1px solid rgb(254, 190, 16);
    box-shadow: 0 0 1em rgb(254, 190, 16);
    border-radius: .7em;
    margin:  2em auto;
    padding: 1em;
    overflow: hidden;
    width: 100%;
    align-items: center;
}


.service .info{
    width: 70%;
}

.service .info h4{
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 1em;
    border-bottom: 1px solid rgb(254, 190, 16);
}

.service .info p{
    font-size: .8em;
    line-height: 1.2em;
}

.service img{
    border-radius: .8em;
    width: 20%;
}

.service:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.service:nth-child(even) .info{
    float: left;
}

.service:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.service:nth-child(odd) .info{
    float: right;
}

.service:nth-child(2){
    border: 1px solid rgb(255, 255, 0);
    box-shadow: 0 0 1em rgb(255, 255, 0);
}

.service:nth-child(3){
    border: 1px solid rgb(0, 255, 255);
    box-shadow: 0 0 1em rgb(0, 255, 255);
}

.service:nth-child(4){
    border: 1px solid rgb(255, 0, 255);
    box-shadow: 0 0 1em rgb(255, 0, 255);
}

.service:nth-child(5){
    border: 1px solid rgb(125, 125, 125);
    box-shadow: 0 0 1em rgb(125, 125, 125);
}