.NavTitle, .NavButton{   
    text-decoration: none;
    color: black;
}

.active.yellow{
    border-bottom: 2px solid yellow;
}

.active.lightblue{
    border-bottom: 2px solid cyan;
}

.active.fucsia{
    border-bottom: 2px solid fuchsia;
}

.active.grey{
    border-bottom: 2px solid grey;
}

.NavTitle:hover, .NavButton:hover{
    border-bottom: 2px solid black;
}

.NavTitle:hover, .yellow:hover{
    border-color: yellow;
    color: rgba(0, 0, 0, 0.5);
}

.lightblue:hover{
    border-color: aqua;
    color: rgba(0, 0, 0, 0.5);
}

.fucsia:hover{
    border-color: fuchsia;
    color: rgba(0, 0, 0, 0.5);
}

.grey:hover{
    border-color: grey;
    color: rgba(0, 0, 0, 0.5);
}



