<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />

  </head>
  <body>
    {{{body}}}
    <footer>
            <p>Desgin by <b>Luciano Salerno</b> &copy; 2021</p>
    </footer>
  </body>
</html>
