<div className="novedad">
    <h4>Titulo</h4>
    <h6 className="fecha">Fecha</h6>
    <p>Noticia - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id officiis sequi distinctio dolores
        similique debitis cupiditate facilis quos eveniet neque mollitia quo eos, quasi iusto incidunt aspernatur ipsum
        animi ratione.</p>
    <hr />
</div>