<div className="info">
    <h4>Microphone</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur fuga praesentium expedita, dolores
        voluptate quidem consequatur veritatis sequi, distinctio nihil ipsa ex. Veritatis, ipsam minima? Earum nostrum
        ea iusto.</p>
</div>