*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
    margin:auto;
}

.rojo, .azul, .verde{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.rojo{ 
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}