*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

label{
    font-weight: bold;
}

input{
    border: 0;  
    border-bottom: 2px solid rgb(255, 45, 45);
    border-radius: 3px;
    color: #aaaaaa;
    background-color: #222222;
    padding: 5px;
}

input:hover{
    border: 0;  
    border-bottom: 2px solid rgb(255,241,41);
    border-radius: 3px;
    color: #aaaaaa;
    background-color: #555555;
}

input:focus{
    border: 0;
    border-bottom: 3px solid rgb(55, 255, 72);
    border-radius: 3px;
    outline: none;
}

form{
    width: 100%;
    text-align: center;
    background-color: #222222;
    border: 1px solid rgb(255, 241, 41);
    color: #aaaaaa;
}

i{
    color: rgb(255, 241, 41);
    font-size: 100px;
}

.separador{
    width: 100%;
    height: 1px;
    background-color: #888888;
    outline: 1px solid rgb(255, 241, 41);
    margin-top: 30px;
}

.recuadro{
    background-color: #555555;
    outline: 5px inset rgb(255, 241, 41);
    outline-offset: 5px;
    padding: 2px;
    margin: 30px 500px;
}

textarea{
    background-color: #444444;
    border: 2px solid #222222;
    border-radius: 10px;
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
}

textarea:focus{
    border: 2px solid rgb(255, 241, 41);
    outline: none;
}